:root {
--main-text-color:#434455;
--dark-text-color:#2E2F42;
--accent-text-color:#4D5AE5;
--dark-accent-color:#404BBF;
--grn-accent-color: #31D0AA;
--middle-text-color:#E7E9FC;
--light-text-color:#FFFFFF;
--light-logo-color:#F4F4FD;
--dark-bg-color:#2E2F42;
--light-bg-color:#F4F4FD;
--main-icons-color:#8E8F99;
--backdrop-bg-color: rgba(46, 47, 66, 0.4);
--modal-bg-color: #FCFCFC;
}

body {
font-family: Roboto, sans-serif;
font-size: 16px;
color: var(--dark-text-color);
}

.button {
cursor: pointer;
border: none;
}

.list {
list-style: none;
}

.link {
text-decoration: none;
color: currentColor;
font-family: inherit;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

/* -----------------Reset start-------------------*/

h1, h2, h3, h4, h5, h6, p, ul, li {
margin: 0;
padding: 0;
}

img {
display: block;
max-width: 100%;
height: auto;
}

/* ------------------Reset end---------------- */

.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.section {
padding-top: 120px;
padding-bottom: 120px;
}

/* ------------------Header-------------- */

.header {
border-bottom: 1px solid var(--middle-text-color);
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 
0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
display: flex;
align-items: center;
}

.logo-link {
margin-right: 76px;
}

.logo {
font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
}

.logo-part {
color: var(--accent-text-color);
}

.navigate {
margin-right: auto;
}

.navigate-list {
display: flex;
gap: 40px;
}

.navigate-link {
position: relative;
display: block;
font-weight: 500;
line-height: 1.5;
color: var(--dark-text-color);
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;

transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigate-link:hover, 
.navigate-link:focus {
color: var(--accent-text-color);
}  

.navigate-link.current::after {
   content: '';
   position: absolute;
   bottom: -1px;
   display: block;
   width: 100%;
   height: 4px;
   background-color: var(--dark-accent-color);
   border-radius: 2px;
   
}

.adress-list {
display: flex;
gap: 40px;
}

.adress-link {
line-height: 1.5;
color: var(--main-text-color);
letter-spacing: 0.02em;
font-style: normal;
padding-top: 24px;
padding-bottom: 24px;

transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:hover,
.adress-link:focus {
color: var(--accent-text-color);
}


/* ----------------Hero---------------- */

.hero-section {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
padding-top: 188px;
padding-bottom: 188px;
text-align: center;
max-width: 1440px;
margin: 0 auto;
}


.hero-title {
display: block;
color: var(--light-text-color);
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
width: 500px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}

.hero-button {
background-color: var(--accent-text-color);
color: var(--light-text-color);
font-family: inherit;
font-weight:500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
min-width: 169px;
min-height: 56px;
border-radius: 4px;

transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
background-color: var(--dark-accent-color);
}

/* ----------Advantages------------ */

.section-subtitle {
color: var(--dark-text-color);
font-size: 20px;
font-weight: 500;
line-height: 1.20;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.section-text {
color: var(--main-text-color);
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.advantages-list {
display: flex;
gap: 24px;
}

.adv-icon-block {
display: flex;
align-items: center;
justify-content: center;
height: 112px;
margin-bottom: 8px;
background-color: var(--light-bg-color);
border-radius: 4px;
}

/* -----------------Works---------------- */

.works-section {
padding-top: 0;
}

.section-title {
color: var(--dark-text-color);
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 70px;
text-align: center;
}

.works-list {
display: flex;
gap: 25px;
}

/* ------------------Team---------------- */

.team-section {
background-color: var(--light-bg-color);
}

.team-list {
display: flex;
gap: 25px;
}

.team-list-item {
background-color: var(--light-text-color);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 
0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-subtitle {
text-align: center;
margin-bottom: 10px;
}

.team-list-text {
text-align: center;
margin-bottom: 8px;
}

.socials {
display: flex;
justify-content: center;
gap: 24px;
}

.social-link {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background-color: var(--accent-text-color);
border-radius: 50%;

transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, 
.social-link:focus {
background-color: var(--dark-accent-color);
}

.social-icon {
fill: var(--light-text-color);
}

/* ------Cards------- */

.card-text {
padding-top: 30px;
padding-bottom: 32px;
}

/* ---------Customers----------------- */
.customers {
padding-top: 130px;
padding-bottom: 120px;
}

.customers-list {
display: flex;
justify-content: center;
gap: 24px;
}

.customers-item {
flex-basis: calc((100% - 24px * 5) / 6);
}

.customers-link {
width: 100%;
height: 88px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid var(--main-icons-color);
border-radius: 4px;

transition-property: border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover, 
.customers-link:focus {
border-color: var(--dark-accent-color);
}

.customers-icon {
fill: var(--main-icons-color);

transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-icon {
fill: var(--dark-accent-color);
}

/* --------------Footer--------------- */

.footer {
background-color: var(--dark-bg-color);
padding-top: 100px;
padding-bottom: 100px;
}

.footer-logo {
display: block;
margin-bottom: 15px;
}

.logo-light-part {
color: var(--light-logo-color);
}

.footer-text {
display: block;
color: var(--middle-text-color);
line-height: 1.5;
letter-spacing: 0.02em;
width: 265px;
}

.footer-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--light-text-color);
margin-bottom: 16px;
}

.footer-container {
display: flex;
align-items: top;
}

.footer-left {
margin-right: 120px;
}

.footer-social-link {
background-color: var(--main-text-color);

transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, 
.footer-social-link:focus {
background-color: var(--grn-accent-color);
}

/* ============================================================== */
/*=================== PORTFOLIO PAGE =============================*/
/* ============================================================== */

.filter-section {
padding-top: 96px;
padding-bottom: 120px;
}
.filter-list {
display: flex;
gap: 25px;
justify-content: center;
margin-bottom: 70px;
}

.filter-button {
background-color: var(--light-bg-color);
color: var(--accent-text-color);
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
padding: 10px 25px;
border: 1px solid var(--middle-text-color);
border-radius: 4px;
min-height: 48px;

transition-property: background-color, color, box-shadow, border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0s;
}


.filter-button:hover,
.filter-button:focus {
background-color: var(--dark-accent-color);
color: var(--light-text-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
0px 2px 1px rgba(0, 0, 0, 0.08), 
0px 2px 2px rgba(0, 0, 0, 0.12);
border-color: var(--dark-accent-color);
}

.cardset {
display: flex;
flex-wrap: wrap;
gap: 48px 24px;
}

.cardset-item {
flex-basis: calc((100% - (24px * 2 )) / 3) ;
}

.cardset-link {
display: block;
border: 1px solid var(--middle-text-color);
border-top: none;

transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0s;
}

.cardset-link:hover, 
.cardset-link:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cardset-link:hover .overlay-text {
transform: translateY(0);
}

.cardset-textblock {
padding-top: 30px;
padding-left: 15px;
padding-bottom: 30px;
}

.cardset-title {
margin-bottom: 10px;
}

.cardset-thumb {
position: relative;
overflow: hidden;
}

.overlay-text {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

background-color: var(--accent-text-color);
color: var(--light-logo-color);
padding-top: 40px;
padding-left: 32px;
padding-right: 32px;
overflow: auto;

transform: translateY(100%);

transition-property: transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0s;
}

/* -------------MODAL--------------- */
.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 100;

background-color: var(--backdrop-bg-color);

transition-property: opacity, visibility;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0s;
}

.modal {
position: absolute;
top: 88px;
left: 50%;
width: 408px;
height: 576px;
border-radius: 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 2px 1px rgba(0, 0, 0, 0.2);

background-color: var(--modal-bg-color);

transform: translateX(-50%);

transition-property: transform, opacity;
transition-duration: 500ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 250ms;
}

.modal-btn {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
top: 24px;
right: 24px;
min-width: 24px;
min-height: 24px;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);

background-color: var(--middle-text-color);

transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0s;
}

.modal-btn:hover,
.modal-btn:focus {
background-color: var(--accent-text-color);
}

.modal-icon {
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0s;
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
fill: var(--light-text-color);
}

.backdrop.is-hidden {
visibility: hidden;
opacity: 0;
pointer-events:none;
}

.backdrop.is-hidden .modal{
transform: translateX(-50%) translateY(-75%);
opacity: 0;

transition-delay: 0ms;
}