:root{
--main-text-color:#434455;
--dark-text-color:#2E2F42;
--accent-text-color:#4D5AE5;
--dark-accent-color:#404BBF;
--middle-text-color:#E7E9FC;
--light-text-color:#FFFFFF;
--light-logo-color:#F4F4FD;
--dark-bg-color:#2E2F42;
--light-bg-color:#F4F4FD;
}

body {
font-family: Roboto, sans-serif;
font-size: 16px;
color: var(--dark-text-color);
}
.button{
   cursor: pointer;
   border: none;
}
/* ------------------Header-------------- */
.list{
   list-style: none;
}

.link{
   text-decoration: none;
   color: currentColor;
   font-family: inherit;
 }
.navigate-link{
font-weight: 500;
   line-height: 1.5;
   color: var(--dark-text-color);
   align: left;
   vertical-align: top;
   letter-spacing: 2%;
}
.logo-link{
   font-weight: 500;
      line-height: 1.33;
      color: var(--dark-text-color);
      align: left;
      vertical-align: top;
      letter-spacing: 2%;

}


 .navigate-link:hover, 
 .navigate-link:focus{
color: var(--accent-text-color);
 }

 .adress-link{
font-style: normal;
 }
  .adress-link:hover,
  .adress-link:focus {
     color: var(--accent-text-color);
  }
 
 .logo{
font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
align: left;
vertical-align: center;
letter-spacing: 3%;
 }
 .logo-part{
   color: var(--accent-text-color);
 }

 .navigate-link:hover,
 .navigate-link:focus
 {
color: var(--accent-text-color);
 }
 .adress-link{
line-height: 1.5;
color: var(--main-text-color);
align: left;
vertical-align: top;
letter-spacing: 2%;
 }



 /* -----------Hero---------------- */
 .hero-section{
background-color: var(--dark-bg-color);
 }
.hero-title{
color: var(--light-text-color);
font-weight: 700;
Font-size: 56px;
line-height: 1.07;
align: center;
vertical-align: top;
letter-spacing: 2%;
}

.hero-button{
background-color: var(--accent-text-color);
color: var(--light-text-color);
font-family: inherit;
font-weight:500;
font-size: 16px;
line-height: 1.5;
}
.hero-button:focus,
.hero-button:hover{
background-color: var(--dark-accent-color);
}

/* ----------Advantages------------ */

.subtitle{
color: var(--dark-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.20;
align: center;
vertical-align: top;
letter-spacing: 2%;
}

.text{
color: var(--main-text-color);
line-height: 1.5;
align: center;
vertical-align: top;
letter-spacing: 2%;
}

/* -----------------Works---------------- */
.title{
color: var(--dark-text-color);
font-size: 36px;
line-height: 1.11;
align: center;
vertical-align: top;
letter-spacing: 2%;
text-transform: capitalize;
}

/* ------------------Team---------------- */
.team-section{
background-color: var(--light-bg-color);
}
.team-list-item{
background-color: var(--light-text-color);
}


/* --------------Footer--------------- */
.footer{
background-color: var(--dark-bg-color);
}

.logo-light-part{
color: var(--light-logo-color);
}
.footer-text{
color: var(--middle-text-color);
line-height: 1.5;
 align: left;
 vertical-align: top;
letter-spacing: 2%;
}

/*=================== PORTFOLIO PAGE ============================*/
.filter-button{
   background-color: var(--middle-text-color);
   color:var(--accent-text-color);
   font-family: inherit;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   text-align: center;
}

.filter-button:hover,
.filter-button:focus{
   background-color: var(--dark-accent-color);
   color: var(--light-text-color);
}